<% @users.each do |user| %>
  <p>
    <%= user.email %>
    <% unless current_user.followeds.include?(user) %>
      <%= button_to 'Follow', follows_path(followed_id: user.id), method: :post %>
    <% end %>
  </p>
<% end %>

<p><%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-button' %>
</p>